<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- <bean id="tv" class="jayden.spring.ploymorphism.SamsungTV" p:speaker-ref="sony" p:price="2800000" >
	
	</bean>
	<bean id="sony" class="jayden.spring.ploymorphism.SonySpeaker"/>
	<bean id="apple" class="jayden.spring.ploymorphism.AppleSpeaker"/> -->
	<bean id="collectionBean" class="jayden.spring.collection.CollectionBean">
		<property name="addressList">
			<!-- <list>
				<value>서울시 서초구 서초동</value>
				<value>서울시 동대문구 장안동</value>
			</list> -->
			<!-- <map>
				<entry>
					<key><value>홍길동</value></key>
					<value>율도국</value>
				</entry>
				<entry>
					<key><value>손오공</value></key>
					<value>화과산</value>
				</entry>
			</map> -->
			<!-- <props>
				<prop key="홍길동">율도국</prop>
				<prop key="손오공">화과산</prop>
			</props> -->
			<set value-type="java.lang.String">
				<value>서울시 서초구 서초동</value>
				<value>서울시 서초구 서초동</value>
				<value>서울시 서초구 서초동</value>
				<value>서울시 동대문구 장안동</value>
			</set>
		</property>
	</bean>
</beans>
